*/bin/
*/bin-obj/

.idea/

.vscode/
.vs/
*.VC.opendb
*.opendb
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

*.a

cmake/
cmake-build-debug/
cmake-build-release/

*/MakeFile*
*/Makefile*

CMakeLists.txt
*.cmake

Sandbox/log_file.txt
Farfocel/log_file.txt